
/* Styling */
body {
    background-image: linear-gradient(310deg, #c2cbee, #ffe9f4);
    color: #345591;
    font-size: 110%;
}

.logo > img {
    height: 75px;
    width: auto;
    border-radius: 100%;
}

header {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: inline-flex;
}


nav > a {
    background-image: linear-gradient(32deg, #d9c6e69c, transparent);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid;
}

a:link, a:visited, a:active{
    color: #345591;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: none;
    background-color: #425a86;
}

.garis {
    border: 1px solid;
    width: 100%;
    border-color: #709abc;
}

section {
    margin-bottom: 35px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.sapa {
    text-shadow: -3px 1px 0px #738ab4;
    color: #2f516d;
    font-size: 280%;
}

.banner > img {
    width: 100%;
    height: auto;
}

.profiles {
    padding-left: 75px;
    padding-right: 30%;
    display: flex;
    justify-content: space-between;
}

.icon > img {
    height: 150px;
    width: 150px;
    border: 1px solid;
    border-radius: 100%;
}

.name {
    margin-top: 10px;
    text-align: center;
}

.form {
    height: 300px;
    width: 49%;

}

.result {
    padding-top: 15px;
    padding-left: 17px;
    height: 300px;
    width: 49%;
}

.message-us {
    display: flex;
    justify-content: space-between;
}

input[type=text]{
    padding: 5px;
    box-sizing: border-box;
    width: -webkit-fill-available;
}

input[type=date] {
    padding: 5px;
    box-sizing: border-box;
    width: -webkit-fill-available;
}

table {
    max-width: 100%;
}

th {
    vertical-align: text-top;
    text-align: left;
    width: 22%;
    font-weight: normal;
}

.sd {
    vertical-align: text-top;
    text-align: left;
}

footer {
    text-align: right;
}

#submit {
    padding: 5px;
    width: -webkit-fill-available;
}

#pesan {
    width: -webkit-fill-available;
}

#eq1, #eq2, #eq3, #eq4 {
    width: 5px;
}

#sender-full-name, #sender-birth, #sender-gender, #sender-messages {
    max-width: 50%;
    height: auto;
}